---
layout: default
---
<div>
    <h1 class="page-heading">作者</h1>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;纵观历史，能为百年之雄杰，已属凤毛麟角。而今日之中华，亟盼出现的，不是百年之雄杰，而是数千年一遇的旷古英豪，方能将这个民族于数千年一遇之末路穷途中拯救出来，为民族的生息延续，为中华之重新崛起开出一条全新的生路。如此旷古英杰锥藏何处，当然未可逆料。
            </p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一个人的作为大小，本源于志向高低。无志者，天才可归于庸碌；有志者，垄亩亦可飞鸿鹄。修身应以立志为本。 
            自今日起，明三千年一遇之大势，立三千年一遇之大志。以天下为己任，由此而磨砺意志，砥砺品行，努力学习，奋发图强。以舍我其谁之大气魄、大担当，肩此重任以待来日。则他日改天换地，为我中华开数千年之新篇的旷古英豪，又焉知不在诸位之中！</p>
    <p></p>
</div>
<script type="text/javascript" src="http://www.douban.com/service/badge/tomastong/?selection=latest&amp;picsize=small&amp;show=wishlist&amp;n=4&amp;cat=drama%7Cmovie%7Cbook%7Cmusic&amp;columns=2"></script>
